POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=db

AIRFLOW_FERNET_KEY=generate_with_python_cryptography_fernet

GCP_PROJECT_ID=your-gcp-project-id

RAW_BUCKET=gs://your-bucket-raw
PROCESSED_BUCKET=gs://your-bucket-processed

GOOGLE_APPLICATION_CREDENTIALS=/opt/credentials/service_account.json

BQ_DATASET_RAW=raw_dataset
BQ_DATASET_ANALYTICS=analytics_dataset

BQ_DATASET_RAW=raw_dataset
BQ_DATASET_ANALYTICS=analytics_dataset

SPORTS_API_KEY=149076
SPORTS_API_BASE_URL=https://www.thesportsdb.com/api/v2/json

LOCAL_DATA_PATH=/app/airflow/data
